/* span{
    position: relative;
    top: 40px;  
    left: 30px;
} */
*{
    padding: 0;
    margin: 0;;
}
/* Menu */
nav{
    background-color: rgb(7, 103, 103) ;
    width: 100%;
    position: fixed;
    top: 0;
}

/*barrinha*/
ul{
    list-style-type: nome;
    padding: 20px;
    
}
ul li{
    display: inline;
    margin-right: 10px;
}
ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    vertical-align: bottom; 
    vertical-align: bottom; /* Alinha o texto à margem inferior */
    
}
.imagem-redonda {
    border-radius: 50%; /* Isso cria uma imagem redonda */
    display: block; 
    margin-left: 600px; 
    margin-right: 600px; 
    width: 100px; /* Defina a largura desejada */
    /* ou */
    height: 100px; /* Defina a altura desejada */
}