body {
  font-family: Arial, sans-serif;
  background-color: #99C6C8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover; /* Para preencher completamente o corpo com a imagem */
  background-position: center; /* Para centralizar a imagem no corpo */
}

main {
  background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 800px; /* Largura máxima do conteúdo */
  width: 90%; /* Largura do conteúdo */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

.filtro {
  margin-bottom: 20px;
}

.filtro h2 {
  color: #333;
}

.filtro label {
  display: block;
  margin-bottom: 5px;
}

.filtro button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2F98BC;
  color: #fff;
  cursor: pointer;
}

.filtro button {
  width: 100%;
}

.consultas {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #2F98BC;
  color: #fff;
}

tbody tr:hover {
  background-color: rgba(47, 152, 188, 0.2); /* Fundo semi-transparente ao passar o mouse */
}

.total {
  font-weight: bold;
}


/* 
  .inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  } */