/* Reset CSS para remover margens e preenchimentos padrão */
body, nav {
    background-color: #99C6C8;
    margin: 0;
    padding: 0;
}

/* Garanta que a largura da barra de navegação seja 100% */
nav {
    width: 100%;
    background-color: rgb(7, 103, 103);
    position: fixed;
    top: 10;
    left: 10;
    z-index: 999; /* Certifique-se de que a barra de navegação esteja na parte superior */
}

/* Estilo para a lista de navegação */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
  ul li {
    display: inline;
    margin-right: 20px;
  }
  
  ul li a {
    color: #fff;
    
    
  }
  
  .container {
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  
  .imagem-container {
    position: relative;
    width: 150px; /* Largura da imagem */
    height: 400px; /* Altura da imagem */
    margin: 90px;
  }
  
  .texto-sobre-imagem {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    font-size: 28px; /* Tamanho da fonte do texto */
    text-align: center;
    margin-top: 0,1%; /* Espaçamento entre a imagem e o texto */
  }
  
  .imagem {
    width: 100%; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
  }