body {
    font-family: Arial, sans-serif;
    background-color: #99C6C8;
    margin: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('/DRA2/imagens/Agenda.jpg');
    background-size: cover; /* Para preencher completamente o corpo com a imagem */
    background-position: center; /* Para centralizar a imagem no corpo */
}


/* Define o estilo para o botão de menu */
.menu-toggle {
    position: fixed; /* Define a posição fixa para o botão */
    top: 20px; /* Define a distância de 20 pixels a partir do topo */
    left: 20px; /* Define a distância de 20 pixels a partir da esquerda */
    display: inline-block; /* Define o elemento como um bloco inline */
    padding: 10px 20px; /* Define o preenchimento interno do botão */
    background-color: #2F98BC; /* Define a cor de fundo do botão */
    color: #fff; /* Define a cor do texto do botão */
    font-size: 16px; /* Define o tamanho do texto do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Define o cursor como ponteiro ao passar por cima do botão */
    border-radius: 5px; /* Adiciona borda arredondada ao botão */
}




/* Define o estilo para o menu */
.menu {
    display: none; /* Inicia oculto */
    position: absolute; /* Define a posição absoluta */
    top: 60px; /* Define a distância de 60 pixels a partir do topo */
    left: 20px; /* Define a distância de 20 pixels a partir da esquerda */
    background-color: #2F98BC;; /* Define a cor de fundo do menu */
    padding: 10px; /* Adiciona espaçamento interno ao menu */
    border-radius: 5px; /* Adiciona borda arredondada ao menu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao menu */
}

/* Define o estilo para os itens do menu */
.menu a {
    display: block; /* Define os itens do menu como blocos de exibição */
    padding: 10px 0; /* Adiciona espaçamento interno aos itens do menu */
    color: #fff; /* Define a cor do texto dos itens do menu */
    text-decoration: none; /* Remove decoração de texto dos itens do menu */
    left: auto;
}
/* Define o estilo quando a classe .active é aplicada ao menu */
.menu.active {
    display: block; /* Exibe o menu quando a classe .active é aplicada */
}





.quadrado-paciente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #99C6C8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    z-index: 999;
}

.quadrado-paciente h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.quadrado-paciente p {
    margin: 10px 0;
}

.quadrado-paciente p strong {
    font-weight: bold;
}
.botao-fechar {
    padding: 10px 20px;
    background-color: #2F98BC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.botao-fechar:hover {
    background-color: #2ca3ca;
}




.dropdown-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #99C6C8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    z-index: 999;
}

.dropdown-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content label {
    margin-bottom: 8px;
    color: #fff;
}

.dropdown-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #99C6C8;
}

.dropdown-content button {
    width: 40%;
    padding: 10px;
    background-color: #2F98BC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.dropdown-content button:hover {
    background-color: #0056b3;
}










/* Estilos para a div de detalhes do pagamento */
#paymentDetails {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #99C6C8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    z-index: 999;
}

#paymentDetails p {
    color: #000000;
}











/* Estilo para o botão de fechar o menu de pagamento */
.fechar-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
}