/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #99C6C8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #99C6C8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Centralizar o conteúdo horizontalmente */
    margin-top: 50px; /* Ajustar a margem superior */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 23px; /* Ajuste o raio da borda conforme necessário */
    box-sizing: border-box;
    background-color: #99C6C8; /* Cor de fundo */
    border: 1.5px solid black; /* Adicione este estilo de borda */
}

.imagem-redonda {
    border-radius: 50%; /* Criar uma borda circular */
    display: block;
    margin: 0 auto; /* Centralizar horizontalmente */
    width: 130px;
    margin-bottom: 20px; /* Adicionando margem inferior */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2F98BC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 15px auto 0;
}

input[type="submit"]:hover {
    background-color: #2ca3ca;
}

#patientInfo {
    display: none;
    background-color: #99C6C8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#patientInfo h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

#patientInfo p {
    margin: 10px 0;
}

#patientInfo p strong {
    font-weight: bold;
}
