/* Definindo estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #99C6C8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para o container principal */
.container {
    background-color: #99C6C8;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Adicionando margem superior para mover para baixo */
}

/* Estilos para os títulos */
h1 {
    text-align: center;
    box-sizing: border-box; /* Adicionando esta linha */
}

h2 {
    text-align: center;
    box-sizing: border-box; /* Adicionando esta linha */
}

/* Estilos para a lista de medicamentos */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    margin-top: 30px;
    color: #666;
}

/* Estilos para a seção de receita para */
.recipe {
    border: 2px solid #2F98BC;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}

/* Estilos para a imagem */
.container img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 130px;
    margin-bottom: -20px; /* Adicionando margem inferior */
}
