*{/*sei lá.. tudo*/
    padding: 0;
    margin: 0;;
}
body {/* fundo */
    font-family: Arial, sans-serif;
    background-color: #99C6C8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.register-container { /*caixa*/
    background-color: #99C6C8;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 300px;
}
.register-container input[type="text"],
.register-container input[type="password"]
 { /*textbox usuario e senha*/
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border-radius: 20px; 
    background-color: #99C6C8;
}
.register-container input[type="email"]
{/*textbox email*/
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border-radius: 20px; 
    background-color: #99C6C8;
}
.register-container input[type="tel"]
{/*textbox telefone*/
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border-radius: 20px; 
    background-color: #99C6C8;
}
.register-container input[type="submit"] { /*botão cadastrar*/
    width: 100px;
    padding: 10px;
    width: 80px;
    background-color: #2F98BC;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: 15px auto 0; 
}
.register-container img{ /* icone*/
    display: block;
    margin: 0 auto;
    padding: 55px;
    border-radius: 50%;
    width: 130px;
}
.register-container input[type="submit"]:hover {/*quando colocar o mouse em cima*/
    background-color: #2ca3ca;
}
.register-container p a img {/*botão voltar*/
    margin-left: 120px;
    font-size: 12px;
    position: relative;
    top: -18px;
    margin-top: 25px;
    width: 40px;
    height: 100;
    padding: 10px;
}
/* Adicionando uma classe para ocultar a mensagem */
.hidden {
    display: none;
}