
body {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    display: flex; /* Usa o modelo de layout flexível */
    justify-content: center; /* Centraliza horizontalmente os elementos filhos */
    align-items: center; /* Centraliza verticalmente os elementos filhos */
    height: 100vh; /* Define a altura do corpo como 100% da altura da janela de visualização */
    background-color: #99C6C8; /* Define a cor de fundo da tela */
}

/* Define o estilo para o contêiner do formulário */
.form-container {
    text-align: center; /* Alinha o texto centralmente */
    background-color: #DDE0E8; /* Define a cor de fundo do formulário */
    border-radius: 20px; /* Define bordas arredondadas */
    padding: 20px; /* Adiciona preenchimento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    max-width: 400px; /* Define a largura máxima do formulário */
}

/* Define o estilo para os botões "Salvar" e "Voltar" */
.botao-salvar, .botao-voltar {
    display: inline-block; /* Torna os botões elementos de bloco em linha */
    background-color: #007bff; /* Define a cor de fundo dos botões */
    color: #DDE0E8; /* Define a cor do texto dos botões */
    border: none; /* Remove a borda dos botões */
    padding: 10px 20px; /* Define o preenchimento dos botões */
    border-radius: 5px; /* Define bordas arredondadas */
    cursor: pointer; /* Define o cursor ao pairar sobre os botões */
    text-align: center; /* Alinha o texto centralmente */
    text-decoration: none; /* Remove o sublinhado do texto */
    margin-top: 20px; /* Adiciona margem superior */
    margin-right: 10px; /* Adiciona margem à direita para espaçamento entre os botões */
}

/* Define o estilo para os botões "Salvar" e "Voltar" ao pairar sobre eles */
.botao-salvar:hover, .botao-voltar:hover {
    background-color: #0056b3; /* Altera a cor de fundo dos botões ao pairar sobre eles */
}
