* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #99C6C8;
}



/* Estilo do container */
.container-login {
    background-color: #99C6C8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Estilo do título */
.container-login h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000;
}

/* Estilo do formulário */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Estilo dos rótulos */
.login-form label {
    margin-bottom: 5px;
    color: #000;
    text-align: left;
}

/* Estilo dos inputs */
.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo do botão */
.login-form button {
    padding: 10px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: #2F98BC;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px auto 0;
}

/* Efeito hover no botão */
.login-form button:hover {
    background-color: #287b99;
}



.imagem-redonda {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 30px;
}